.info p:not(:first-child) {
    color: green
}
/*позволяет комбинировать селекторы,
 выбирутся все параграфы, кроме первого,
 нот инвертирует то,что внутри*/

.info p:empty {
    color: green
}
/*выбирает параграф внутри которого ничего нет,
емпти также можно положить внутрь нот и инвертировать p:not(empty)*/


.info a {
    color: blue;
}/*задали синий цвет ссылке, обычное состояние*/

.info a:hover {
    color: red;
}/*состояние, когда наводим мышкой на ссылку*/

.info a:focus {
    color: green;
}/*когда ссылка последняя выбиралась, дошли табом либо взаимодействували*/

.info a:active {
    color: deeppink;
}/*когда с ней прямо взаимодействуем, нажали мышкой, но не отпустили*/

.info a:before {
    content: "-"
}
/*before возможность вставлять елементы из html в ccs,
вставляется внутрь елемента перед его содержимым,
Н-р вставили дефис перед каждой ссылкой*/

.info a:after {
    content: "-=<"
}
/*before возможность вставлять елементы из html в ccs,
вставляется внутрь елемента ПОСЛЕ его содержимого,
Н-р вставили тире и скобку  после каждой ссылки
можно поставить иконку, которая указывает на ссылку на внешний ресурс*/

.info a:before {
    content: "";
    display: inline-block !important;
    width:35px;
    height:5px;
    background:steelblue;
}  /*вставили квадратик перед ссылкой*/

/*квадратик вставим после ссылки, при наведенной мышке*/

.info a:after {
    content: "";
    display: inline-block !important;
}

.info a:hover:after {
    width:35px;
    height:5px;
    background:darkorchid;
}
/**/
/*ШРИФТЫ*/
/*мы можем поменять шрифт */
 .info a {
    font-family: Arial, Tahoma, sans-serif;/*позволяет задать шрифт,
    которым будет написан этот текст*/
    font-style: italic;
     font-variant: small-caps; /*размер ячейки для записи больших и мал букв минускул,маюскул*/
     font-weight: bold; /*жирность*/
     font-size: 20px; /*размер шрифта*/
     line-height: 2; /*расстояние между строками*/

 }

